.dialogs{
    display:grid;
    grid-template-columns: 2fr 10fr;
    
}
.dialogs a{
    text-decoration: none;
}

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active{
    color:gold;
}

.messages{
padding: 10px;
}
.dialogs img{
    width: 50px;
    border-radius: 30px;
  }

